.office-locations {
  .office-location {
    display: block;
    text-decoration: none;

    &:hover {
      color: inherit;
    }

    img {
      margin-right: 8px;
    }
    p {
      margin-top: 4px;
    }
    &:first-child {
      margin-bottom: 24px;
    }
  }
}
