@keyframes spinner-border {
  to {
    transform: rotate(360deg);
  }
}

.is-loading > [class*="spinner-"] {
  display: inline-block;
}

.is-loading > span {
  display: none;
}

.spinner-border {
  display: none;
  width: 1rem;
  height: 1rem;
  vertical-align: text-bottom;
  border: 0.25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  animation: spinner-border 0.75s linear infinite;
}
